<h1>商品一覧</h1>
<!--管理者用の商品一覧記述-->
  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜き価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name,admin_items_show(item.id)</td>
          <td><%= item.price %></td>
          <td><%= item.genre_id %></td>
          <td><%= item.is_active %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  

</tbody>
