<h4 class="m-4">管理者ログイン</h4>
<div class="container">

<%= form_with model:@admin, url: admin_session_path do |f| %>
  <div class="field text-center">
    <%= f.label :メールアドレス, class: "col-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-4" %>
  </div>

  <div class="field text-center">
    <%= f.label :パスワード, class: "col-3" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
  </div>


  <div class="actions text-center m-3">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
<%= render "admin/shared/links" %>
