<h4 class="m-4">ログイン</h2>

<%= form_with model: @customer, url: session_path(resource_name) do |f| %>
  <div class="field text-center">
    <%= f.label :メールアドレス, class: "col-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-4" %>
  </div>

  <div class="field text-center">
    <%= f.label :パスワード, class: "col-3" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
  </div>


  <div class="actions text-center m-3">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
  <div class="text-center m-3">
<h3><strong>会員登録がお済みでない方</strong></h3>
<%= render "public/shared/links" %> から新規登録を行なってください
  </div>
